name: Build LaTeX document
on: 
  push: 
    branches: 
      - main 
    tags:
      - '*'
  pull_request:
    branches:
      - main
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4
      - name: Compile LaTeX
        uses: xu-cheng/texlive-action@v3
        with:
          run: |
            ./compilation/compile.sh
      - name: Upload PDF file as artifact
        uses: actions/upload-artifact@v4
        with:
          name: PDF
          path: curso-latex.pdf
      - name: Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          # overwrite_files: true
          files: curso-latex.pdf
